* {
    box-sizing: border-box;
    margin: 0px 0px;
    padding: 0px 0px;
}

ul {
    list-style: none;
    padding: 0px 0px;
    margin: 0px 0px;
}

a {
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    transition: all 0.4s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
    font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0px 0px;
    padding: 0px 0px;
}

body {
    overflow-x: hidden;
    font-family: "Poppins", sans-serif;
    font-optical-sizing: auto;
}

ul,
a {
    list-style: none;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

i {
    font-style: italic;
}

div {
    outline: none;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 1440px;
    margin: auto;

}

header .container {
    position: relative;
}

.max-container {
    padding: 40px 160px 99px 160px;
}

/* header  */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 116px;
}

.item-list ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.item-list ul li a {
    color: #484848;
    font-weight: 500;
    line-height: 150%;
}

.btn-list button {
    padding: 11px 35px;
    border: none;
    background-color: #1572D3;
    color: #FFFFFF;
    border-radius: 8px;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
}

.btn-list a {
    padding-right: 11px;
    color: #484848;
}

.header-content {
    display: flex;
    height: 490px;
}

.header-content .content {
    padding-top: 58px;
    padding-left: 160px;
}

.header-content h1 {
    font-size: 48px;
    color: #242424;
    line-height: 100%;
}

.header-content p {
    padding: 40px 51px 40px 0px;
    ;
    font-size: 18px;
    color: #272727;
}



.header-content span {
    color: #1572D3;
}

.header-content span {
    position: relative;
}

.header-content span img {
    position: absolute;
    right: 0;
    bottom: -9px;
    width: 150px;
}

.header-content .content .social-img img {
    width: 123px;
}

.header-content .header-img {
    width: 100%;
    text-align: right;

}

.header-content .header-img .car-img {
    width: 1048px;
}

.header-content .header-img .img {
    position: absolute;
    right: 0;
    bottom: 5px;
    opacity: 13%;
    z-index: -1;
}

.search {
    padding: 0 160px 48px;
}

.search .max-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 17px 12px 17px 32px;
    border-radius: 12px;
    background-color: #FFFFFF;
    box-shadow: 0 6px 12px 0 #135EAC1F;
}

.search .max-container .search-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    padding-left: 24px;
}

.search .max-container .left-border {
    border-left: 1px solid #ACACAC;
}

.search .max-container .search-content h6 {
    font-size: 16px;
    color: #3E3E3E;
    font-weight: 500;
}

.search .max-container .search-content p {
    font-size: 14px;
    color: #B6B6B6;
}

.search button {
    padding: 11px 35px;
    border: none;
    background-color: #1572D3;
    color: #FFFFFF;
    border-radius: 8px;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
}

@media only screen and (max-width:1440px) {
    .container {
        max-width: 100%;
        overflow: hidden;
    }

    .header-content .header-img .img {
        right: -230px;
    }

    .header-content .content {
        padding: 58px 110px 0 160px;
    }

    .header-content .header-img {
        width: 54%;
    }

    .header-content .header-img .car-img {
        max-width: 1025px;
        height: 530px;
    }

    .header-content p {
        padding: 40px 0px 40px 0px;
    }

    .search {
        padding: 0 100px 48px;
    }

    .search .max-container {
        padding: 17px 12px 17px 32px;
    }

    .search .max-container .search-content h6 {
        font-size: 14px;
    }

    .search .max-container .search-content p {
        font-size: 12px;
    }

    .search button {
        padding: 11px 25px;
    }
}

/* header  */

/* main  */
/* section 1 */
.section-one .container .max-container-top {
    /* max-width: 776px;
    margin: 0 auto; */
    padding: 74px 351px 0 351px;

}

.section-one .container .max-container-top .section-content-top {
    text-align: center;
    margin: 0 34px;
}

.section-one .container .max-container-top .section-content-top a {
    padding: 16px 32px;
    border-radius: 8px;
    background-color: #1572D31A;
    color: #1572D3;
}

.section-one .container .max-container-top .section-content-top h2 {
    font-weight: 500;
    font-size: 38px;
    line-height: 130%;
    color: #333333;
    padding-top: 32px;
}

.section-one .container .max-container-top .section-content-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 95px;
    padding-top: 80px;
}

.section-one .container .max-container-top .section-content-bottom .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    text-align: center;
    width: 33.33%;
}

.section-one .container .max-container-top .section-content-bottom .image {
    width: 112px;
    padding: 32px;
    background-color: #ECF5FF;
    border-radius: 8px;
}

.section-one .container .max-container-top .section-content-bottom .img-content h6 {
    font-size: 20px;
    font-weight: 500;
    color: #000000;
}

.section-one .container .max-container-top .section-content-bottom .img-content p {
    font-size: 14px;
    color: #6D6D6D;
    font-weight: 500;
    line-height: 150%;
    padding-top: 24px;
}

/* bottom  */


@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%)
    }
}

.slider {

    padding-top: 160px;
    padding-bottom: 86px;
    margin: auto;
    overflow: hidden;
    position: relative;
}

.slide-track {
    animation: scroll 40s linear infinite;
    display: flex;
    gap: 96px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.slide {
    width: 250px;
}

.slider .slide-track .slide img:hover {
    filter: brightness(0.5);
}

/* bottom  */



/* section 1 */


/* section 2 */

.section-two .container {
    position: relative;

}

.section-two .container .choose-content-left .shape {
    position: absolute;
    left: -190px;
    bottom: -180px;
    z-index: -1;
}

.section-two .container .choose-content-left {
    width: 50%;
}


.section-two .choose-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 92px 0;
}

.section-two .choose-content-right {
    padding-right: 131px;
    width: 50%;
}

.section-two .choose-content-right a {
    padding: 16px 32px;
    border-radius: 8px;
    background-color: #1572D31A;
    color: #1572D3;
    margin-bottom: 32px;
}

.section-two .choose-content-right h2 {
    color: #333333;
    font-size: 38px;
    line-height: 130%;
    font-weight: 500;
}

.section-two .choose-content-right .lists-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
    padding-top: 56px;
    padding-right: 146px;
}

.section-two .choose-content-right .lists-content .list {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 24px;
}

.section-two .choose-content-right .lists-content .list h6 {
    font-size: 20px;
    font-weight: 500;
    line-height: 150%;
    color: #000000;
}

.section-two .choose-content-right .lists-content .list p {
    font-size: 16px;
    line-height: 150%;
    color: #6D6D6D;
}

.section-two .choose-content-right .lists-content .list .image {
    width: 64px;
    padding: 20px;
    background-color: #ECF5FF;
    border-radius: 16px;
}

@media only screen and (max-width:1440px) {
    .container {
        max-width: 100%;
        overflow: hidden;
    }

    .section-two .container .choose-content-left .shape {
        left: -390px;
    }

    .section-two .choose-content-left .car-img {
        position: absolute;
        top: 340px;
        left: -178px;
        max-width: 1202px;
        margin: 0;
    }
}



/* section 2 */
/* section 3 */

.section-three .container .max-container-top {
    padding-top: 84px;
    text-align: center;
}

.section-three .container .max-container-top .section-content-top {
    text-align: center;
    margin: 0 34px;
}

.section-three .container .max-container-top .section-content-top a {
    padding: 16px 32px;
    border-radius: 8px;
    background-color: #1572D31A;
    color: #1572D3;
}

.section-three .container .max-container-top .section-content-top h2 {
    font-weight: 500;
    font-size: 38px;
    line-height: 130%;
    color: #333333;
    padding-top: 32px;
}

/* bottom  */
.section-content-bottom .rental-deals {
    padding: 26px 24px 0;
    display: flex;
    flex-direction: space-between;
    align-items: center;
    justify-content: center;
    gap: 32px;

}

.section-content-bottom .rental {
    padding: 26px 24px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 12px 24px 0 #135EAC1F;
    border-radius: 16px;
}

.section-content-bottom .rental-deals .rental .rental-deals-content .rental-deals-content-top {
    text-align: start;
    padding-top: 25px;
}

.section-content-bottom .rental-deals .rental-deals-content .rental-deals-content-top h6 {
    font-size: 16px;
    color: #262626;
    font-weight: 500;
    line-height: 17pxz;
    padding-bottom: 12px;
}

.section-content-bottom .rental-deals .rental .rental-deals-content .rental-deals-content-top p {
    font-size: 12px;
    line-height: 17px;
    color: #808080;

}

.section-content-bottom .rental-deals .rental .rental-deals-content .rental-deals-content-top p span {
    color: #000000;
}

.section-content-bottom .rental-deals .rental .rental-deals-content .rental-deals-content-top .rental-deals-col {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-top: 16px;
}

.section-content-bottom .rental-deals .rental .rental-deals-content .rental-deals-content-top .content-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 10px;
}

.section-content-bottom .rental-deals .rental .rental-deals-content .rental-deals-content-top .content-top .contain {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.rental-deals-content-bottom {
    margin: 24px 0;
    border-top: 1px solid #E0E0E0;
}

.rental-deals-content-bottom .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
}

.rental-deals-content-bottom .content p {
    color: #595959;
    font-size: 14px;
}

.rental-deals-content-bottom .content p span {
    color: #292929;
}

.section-content-bottom .rental-deals-content-bottom button {
    padding: 11px 35px;
    border: none;
    background-color: #1572D3;
    color: #FFFFFF;
    border-radius: 8px;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    text-align: center;
    width: 100%;
    cursor: pointer;
}

.section-three .container .max-container-top .bottom-btn {
    padding: 11px 35px;
    border: none;
    background-color: #ffffff;
    color: #4E4E4E;
    border-radius: 8px;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    text-align: center;
    margin: 64px 0;
    cursor: pointer;
    box-shadow: 0 12px 24px 0 #135EAC1F;
}

/* section 3 */

/* section 4 */
.section-four .container{
    background-color: #F7FBFF;
}
.section-four .container .max-container-top {
    /* max-width: 776px;
    margin: 0 auto; */
    padding: 74px 351px 0 351px;

}
.section-four .container .max-container-top .section-content-top {
    text-align: center;

}

.section-four .container .section-content-top a{
    padding: 16px 32px;
    border-radius: 8px;
    background-color: #1572D31A;
    color: #1572D3;
}
.section-four .container .max-container-top .section-content-top h2 {
    font-weight: 500;
    font-size: 38px;
    line-height: 130%;
    color: #333333;
    padding-top: 32px;
}

/* section 4 */


/* section 5 */
.section-five .container {
 position: relative;
}
.section-five .download-content .content a {
    padding: 16px 32px;
    border-radius: 8px;
    background-color: #1572D31A;
    color: #1572D3;
}

.download-content {
    display: flex;
    height: 490px;
}
.download-content .content {
    padding: 80px 110px 0 160px;
}
.download-content p {
    padding: 40px 0px 40px 0px;
}

.section-five .download-content .content h2 {
    font-size: 48px;
    color: #242424;
    line-height: 100%;
}
.section-five .download-content .content h2 span{
  color: #1572D3;
}

.section-five .download-content .download-img {
    overflow: hidden;
    padding-top: 60px;
}

.section-five .download-content .download-img img {
    max-width: 100%;
    height: auto;
    overflow: hidden;
}
.download-content .content .social-img img {
    width: 123px;
}
.download-content .download-img {
    width: 54%;
}
.download-content .download-img .download-shape {
    position: absolute;
    left: -205px;
    top: -57px;
}
.download-content .download-img .download-shape img{
    width: 74%;
}



@media only screen and (max-width: 1440px) {
    .download-content .content {
        padding: 80px 110px 0 160px;
    }
    .download-content p {
        padding: 40px 0px 40px 0px;
    }
    .download-content .download-img {
        width: 54%;
    }
}

/* section 5 */
/* main  */















/* footer */
footer .container {
    background-color: #051C34;
}

footer .max-container {
    padding: 41px 160px 0;

}

footer .max-container .footer-logo {
    width: 20%;
}

footer .max-container .footer-logo .footer-logo-img:hover {
    cursor: pointer;
}

footer .max-container .footer-logo .footer-logo-content .content {
    display: flex;
    align-items: center;
    gap: 8px;
    padding-top: 24px;
}

footer .max-container .footer-logo .footer-logo-content .content p {
    color: #D6D6D6;
    font-size: 14px;
    line-height: 150%;
}

.max-container .footer-content {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 193px;
    padding-bottom: 64px;
}

.max-container .footer-content .footer-list {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.max-container .footer-content .footer-list .footer-content-list h6 {
    font-size: 16px;
    line-height: 150%;
    font-weight: 500;
    color: #FFFFFF;
    padding-bottom: 32px;
}

.max-container .footer-content .footer-list .footer-content-list ul li a {
    font-size: 14px;
    color: #D6D6D6;
    line-height: 150%;
}

.max-container .footer-content .footer-list .footer-content-list ul li a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.max-container hr {
    border: 1px solid #575757;
}

.max-container .author {
    font-size: 14px;
    color: #D6D6D6;
    line-height: 150%;
    padding: 32px 0;
    font-size: 12px;
}




/* footer */